{% extends "templates/base.html" %}
{% block content %}
<table class="table table-striped">

    <tr>
        <th>nr kosztu</th>
        <th>nazwa kosztu</th>
        <th>rok</th>
        <th>miesiąc</th>
        <th>wartość</th>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
        </td>
        <td>Pozostałe koszty operacyjne</td>
        <td>
            <select>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
            </select>
        </td>
        <td><input type="text" placeholder="0"></td>
        <td><input type="text" placeholder="0"></td>
    </tr>
    <tr>
        <td>4012556</td>
        <td>Koszty obsługi</td>
        <td>
        <select>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
            </select>
        </td>
        <td><input type="text" placeholder="0"></td>
        <td><input type="text" placeholder="0"></td>
    </tr>
</table>
<button type="submit" class="btn">Submit</button>
<ul>
    <span data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</span>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
{% for item in items %}
<li> {{item}} </li>
{% endfor %}
</ul>
{% endblock %}
