html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: 40px;
}
#value {
  width: 80px;
}

.float-left {
  float: left;
  width: 150px;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}

  .float-left h4 {
    background-color: #DDDDDD;
    padding: 10px;
    margin: 0 0 10px;
    color: #3E3E3E;
}

.radioWrapper{
  margin-left: 20px;
}

.radio {
  display: inline-block !important;
  margin: 3px 8px 0px 0 !important;
}

.container {
  width: 100% !important;
  padding: 0 !important;
}

.padding {
  padding: 0 30px;
  display: table-cell;
}

.leftMargin {
  margin: 0 30px;
}
.radio-name {
  margin: -25px 0px 7px 20px;
  display: block;
}

.revenue th {
  text-align: center;
  vertical-align: middle !important;
  }

.revenue input {
  width: 90px !important;;
}

.long {
  padding-right: 110px !important;
}

.longb {
  padding-right: 210px !important;
}

.revenue > tbody > tr:nth-child(8n+1) > td,
.revenue > tbody > tr:nth-child(8n+2) > td,
.revenue > tbody > tr:nth-child(8n+3) > td,
.revenue > tbody > tr:nth-child(8n+4) > td {
    background-color: #F6F6F6;
}
