html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}
#value {
	width: 80px;
}

.float-left {
  float: left;
  width: 150px;
}

.radio {
  display: inline-block !important;
  margin: 3px 4px 0px !important;
}

.container {
  width: 100% !important;
  padding: 0 !important;
}

.padding {
  padding: 0 30px;
}

.leftMargin {
  margin: 0 30px;
}
